.p1 {
    color: rgb(170, 170, 0);
}

p span {
    font-weight: bold;
}

.p3 {
    background-image: url("https://i.pinimg.com/1200x/25/aa/1a/25aa1a16b78d63f639b04b8427d4f2d6.jpg");

    width: 700px;
    height: 170px;
    color:black;
    font-weight: bold;
    

}

