.p1 {
    color: rgb(170, 170, 0);
}

p span {
    font-weight: bold;
}

.p3 {
    background-image: url("https://png.pngtree.com/png-vector/20230124/ourmid/pngtree-red-text-box-background-decoration-png-image_6572713.png");

    width: 300px;
    height: 150px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color :black
    

}