.p1 {
    color: rgb(170, 170, 0);
}

p span {
    font-weight: bold;
}

.p3 {
    background-image: url("https://media.istockphoto.com/id/1257951336/photo/transparent-umbrella-under-rain-against-water-drops-splash-background-rainy-weather-concept.jpg?s=612x612&w=0&k=20&c=lNvbIw1wReb-owe7_rMgW8lZz1zElqs5BOY1AZhyRXs=");

    width: 700px;
    height: 170px;
    color:white;
    background-color: black;

 


}